@media only screen and (min-width: 1280px) and (max-width: 1439px) {
    .button {
        background-color: #4bb4b4;
        color: white;
        padding: 15px 30px;
        font-size: 1rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .button:hover {
        background-color: #429a9a;
    }
    .containerTH{
        text-align: center;
        padding: 50px;
    }
    .TituloH{
        text-align: center;
    }
    .DescrH{
        text-align: center;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        background-image:
                radial-gradient(circle,  rgba(247, 147, 76, 0.2) 140px, transparent 101px),
                radial-gradient(circle,  rgba(247, 147, 76, 0.2) 190px, transparent 101px),
                radial-gradient(circle,  rgba(159, 107, 160, 0.2) 190px, transparent 101px),
                radial-gradient(circle,  rgba(159, 107, 160, 0.2) 155px, transparent 101px);
        background-position:
                2vh -15vw,
                93vh -7vw,
                50vh 50vw,
                -72vh 9vw
        background-repeat: no-repeat;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: white; /* Fondo blanco */
        box-shadow: 0px 3px 25px -9px gray; /* Sombra para destacar el navbar */
    }

    nav .logo img {
        height: 50px;
    }

    nav ul {
        list-style: none;
        display: flex;
        margin-left: auto;
    }

    nav ul li {
        margin-left: 20px;
    }

    nav ul li a {
        color: #33AFB9; /* Color azul del texto */
        background-color: white; /* Fondo blanco por defecto */
        text-decoration: none;
        font-size: 18px;
        padding: 10px 20px; /* Añade más espacio dentro del botón */
        border-radius: 15px;
        transition: background-color 0.3s, color 0.3s;
        border: 1px solid #33AFB9; /* Bordes azules */
    }

    nav ul li a:hover {
        background-color: #33AFB9; /* Fondo azul al hacer hover */
        color: white; /* Texto blanco al hacer hover */
    }

    /* Estilos cuando un enlace está activo (seleccionado) */
    nav ul li a.active {
        background-color: #33AFB9; /* Fondo azul cuando está activo */
        color: white; /* Letras blancas cuando está activo */
    }

    /* Ocultar menú en móvil y mostrar botón */
    .menu-toggle {
        display: none;
        font-size: 30px;
        color: black; /* Color del ícono de menú hamburguesa */
        cursor: pointer;
    }


}
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: white; /* Fondo blanco */
        box-shadow: 0px 3px 25px -9px gray; /* Sombra para destacar el navbar */
    }

    nav .logo img {
        height: 50px;
    }

    nav ul {
        list-style: none;
        display: flex;
        margin-left: auto;
    }

    nav ul li {
        margin-left: 20px;
    }

    nav ul li a {
        color: #33AFB9; /* Color azul del texto */
        background-color: white; /* Fondo blanco por defecto */
        text-decoration: none;
        font-size: 18px;
        padding: 10px 20px; /* Añade más espacio dentro del botón */
        border-radius: 15px;
        transition: background-color 0.3s, color 0.3s;
        border: 1px solid #33AFB9; /* Bordes azules */
    }

    nav ul li a:hover {
        background-color: #33AFB9; /* Fondo azul al hacer hover */
        color: white; /* Texto blanco al hacer hover */
    }

    /* Estilos cuando un enlace está activo (seleccionado) */
    nav ul li a.active {
        background-color: #33AFB9; /* Fondo azul cuando está activo */
        color: white; /* Letras blancas cuando está activo */
    }

    /* Ocultar menú en móvil y mostrar botón */
    .menu-toggle {
        display: none;
        font-size: 30px;
        color: black; /* Color del ícono de menú hamburguesa */
        cursor: pointer;
    }
    nav ul li {
        margin-left: 20px; /* Añade separación entre los botones */
    }

}
@media only screen and (min-width: 1920px) and (max-width: 2559px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        background-image:
                radial-gradient(circle,  rgba(247, 147, 76, 0.2) 300px, transparent 101px),
                radial-gradient(circle,  rgba(247, 147, 76, 0.2) 300px, transparent 101px),
                radial-gradient(circle,  rgba(159, 107, 160, 0.2) 300px, transparent 101px),
                radial-gradient(circle,  rgba(159, 107, 160, 0.2) 300px, transparent 101px);
        background-position:
                1vh 1vw,
                1vh 1vw,
                1vh 1vw,
                1vh 1vw;
        background-repeat: no-repeat;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: white; /* Fondo blanco */
        box-shadow: 0px 3px 25px -9px gray; /* Sombra para destacar el navbar */
    }

    nav .logo img {
        height: 50px;
    }

    nav ul {
        list-style: none;
        display: flex;
        margin-left: auto;
    }

    nav ul li {
        margin-left: 20px;
    }

    nav ul li a {
        color: #33AFB9; /* Color azul del texto */
        background-color: white; /* Fondo blanco por defecto */
        text-decoration: none;
        font-size: 18px;
        padding: 10px 20px; /* Añade más espacio dentro del botón */
        border-radius: 15px;
        transition: background-color 0.3s, color 0.3s;
        border: 1px solid #33AFB9; /* Bordes azules */
    }

    nav ul li a:hover {
        background-color: #33AFB9; /* Fondo azul al hacer hover */
        color: white; /* Texto blanco al hacer hover */
    }

    /* Estilos cuando un enlace está activo (seleccionado) */
    nav ul li a.active {
        background-color: #33AFB9; /* Fondo azul cuando está activo */
        color: white; /* Letras blancas cuando está activo */
    }

    /* Ocultar menú en móvil y mostrar botón */
    .menu-toggle {
        display: none;
        font-size: 30px;
        color: black; /* Color del ícono de menú hamburguesa */
        cursor: pointer;
    }


}


